.icon-link {
  color: #fff;
}

/* Focus state */

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid rgba(255, 255, 255, .5);
  outline-offset: 0;
}
