.row {
  overflow: scroll;
}

.row-outer {
  overflow: hidden;
  height: 21rem;
}

.row-inner {
  margin-top: 1.3rem;
  margin-bottom: 5.2rem;

  transition: transform 400ms ease-out;
  white-space: nowrap;
}

.card,
.card-img {
  width: 512px;
  height: 288px;
}

.card-small,
.card-small-img {
  width: 180px;
  height: 288px;
}

.card {
  cursor: pointer;
  transition: all 400ms ease-out;
  transform-origin: center left;
}

.card:last-child {
  margin-right: 2.6rem;
}

.card-img {
  border-radius: 4px;

  object-fit: cover;
}

/* Row hover */

.row-inner:hover {
  transform: translateX(-36px);
}

.card:hover ~ .card {
  transform: translateX(65px)
}

.row-inner-small:hover {
  transform: translateX(-12.65px);
}

.card-small:hover ~ .card-small {
  transform: translateX(22.85px)
}

.row-inner:hover .card:hover {
  transform: scale(1.125);
  box-shadow: 0  0 36px #000;
}

/* Card details */

.i-play {
  opacity: 0;
}

.card:hover .i-play {
  opacity: 1;
}

.card,
.card:active {
  padding: 0;

  background-color: transparent;
  border: 0;
  border-radius: 4px;

  color: #fff;
}

.i-play {
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .row-inner {
    margin-top: 1.4rem;
    margin-bottom: 5.6rem;
  }

  .card:last-child {
    margin-right: 2.8rem;
  }

}

@media only screen and (min-width: 60em) {

  .row-inner {
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }

  .card:last-child {
    margin-right: 3rem;
  }

}
