header,
.nav-xs {
  background-color: #000;
}

header a:focus,
header button:focus {
  outline-offset: -7px;
}

.i-logo {
  width: 53.43px;
  height: 24px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
  opacity: .65;
}

.nav-xs li {
  border-bottom: 2px solid #333;
}

.nav-xs li:last-child {
  border-bottom: 0;
}

.nav-xs {
  display: none;
}
