html {
  min-width: 320px;

  background-color: #1a1a1a;

  font-family: "nimbus-sans",sans-serif;
}

.icon {
  color: #fff;
}

.border-b {
  border-bottom: 1px solid #e0e0e0;
}

.wrapper {
  max-width: 67rem;
}

@media only screen and (min-width: 38em) {

  .m-text-left {
    text-align: left;
  }

}
