.modal {
  position: absolute;
  z-index: 999;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  display: none;
  height: 100vh;
  width: 100vw;
}

.modalcontent {
  z-index: 1000;
  position: absolute;
  background-color: #121212;
  box-shadow: 0 2px 25px rgba(0, 0, 0, .4);
  width: 90%;
  max-width: 38rem;
}

.i-showicons {
  width: 128px;
  height: 43px;
}
