.banner {
  height: 25em;

  background-image: url("https://placehold.it/2560x720");
  background-size: cover;
  background-position: center center;
}

@media only screen and (min-width: 25em) {

  .banner {
    height: 30em;
  }

}
