---
layout: default
title: Suits - upNEXT
description:
---

{% include modal.html %}

<div class="banner relative">
  <div class="banner-content max-length-no-center pad-t-2 pad-b-2 gutter m-gutter-2 pin-bl">
    <h1 class="tenamega push-1-4">Suits</h1>
    <p class="push-0">Suits follows college drop-out Mike Ross, who accidentally lands a job with one of New York's best legal closers, Harvey Specter. They soon become a winning team with Mike's raw talent and photographic memory, and Mike soon reminds Harvey of why he went into the field of law in the first place.</p>
  </div>
</div>

{% include show-up-next.html %}
{% include seasons-carousel.html %}
{% include cast-carousel.html %}

</div>
