<div class="gutter m-gutter-2">
  <h2 class="push-0">Cast</h2>
</div>
<div class="row-outer">
  <div class="row gutter-2">
    <div class="row-inner row-inner-small">

      {% include card-cast.html
        img="/images/gabrielmacht.jpg"
        name="Gabriel Macht"
      %}

      {% include card-cast.html
        img="/images/patrickadams.jpg"
        name="Patrick J. Adams"
      %}

      {% include card-cast.html
        img="/images/rickhoffman.jpg"
        name="Rick Hoffman"
      %}

      {% include card-cast.html
        img="/images/meghanmarkle.jpg"
        name="Meghan Markle"
      %}

      {% include card-cast.html
        img="/images/sarahrafferty.jpg"
        name="Sarah Rafferty"
      %}

      {% include card-cast.html
        img="/images/ginatorres.jpg"
        name="Gina Torres"
      %}

    </div>
  </div>
</div>
