<div class="grid footer-wrapper micro">
<p class="copyright unit xs-1 s-1 m-1-3 l-1-3 xl-1-3">© UpNext 2017</p>
<ul class="terms list-group unit xs-1 s-1 m-1-3 l-1-3 xl-1-3">
  <li>Terms of Use</li>
  <li>Privacy Policy</li>
  <li>Contact Us</li>
</ul>
<ul class="sm-icons list-group-inline unit xs-1 s-1 m-1-3 l-1-3 xl-1-3">
  <li class="push-r-1-2">
    <i class="icon i-24">
      <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#account-circle"></use></svg>
    </i>
  </li>
  <li class="push-r-1-2">
    <i class="icon i-24">
      <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#account-circle"></use></svg>
    </i>
  </li>
  <li class="push-r-1-2">
    <i class="icon i-24">
      <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#account-circle"></use></svg>
    </i>
  </li>
  <li>
    <i class="icon i-24">
      <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#account-circle"></use></svg>
    </i>
  </li>
</ul>

</div>
