<div class="gutter m-gutter-2">
  <h2 class="push-0">My Movies</h2>
</div>
<div class="row-outer">
  <div class="row gutter-2">
    <div class="row-inner row-inner-small">

      {% include card.html
        img="/images/life.jpg"
        alt="Life"
      %}

      {% include card.html
        img="/images/moonlight.jpg"
        alt="Moonlight"
      %}

      {% include card.html
        img="/images/justiceleague.jpg"
        alt="Justice League"
      %}

      {% include card.html
        img="/images/logan.jpg"
        alt="Logan"
      %}

      {% include card.html
        img="/images/beautyandthebeast.jpg"
        alt="Beauty and the Beast"
      %}

      {% include card.html
        img="/images/flatliners.jpg"
        alt="Flatliners"
      %}

      {% include card.html
        img="/images/thor.jpg"
        alt="Thor Ragnarok"
      %}

      {% include card.html
        img="/images/dunkirk.jpg"
        alt="Dunkirk"
      %}

      {% include card.html
        img="/images/it.jpg"
        alt="It"
      %}

      {% include card.html
        img="/images/coco.jpg"
        alt="Coco"
      %}

    </div>
  </div>
</div>
