<div class="gutter m-gutter-2">
  <h2 class="push-0">My Movies</h2>
</div>
<div class="row-outer">
  <div class="row gutter-2">
    <div class="row-inner row-inner-small">

      {% include card.html
        img="https://placehold.it/1600x900"
        title="Breaking Bad"
        episode="S02E11"
      %}

      {% include card.html
        img="https://placehold.it/1600x900"
        title="Breaking Bad"
        episode="S02E11"
      %}

      {% include card.html
        img="https://placehold.it/1600x900"
        title="Breaking Bad"
        episode="S02E11"
      %}

      {% include card.html
        img="https://placehold.it/1600x900"
        title="Breaking Bad"
        episode="S02E11"
      %}

      {% include card.html
        img="https://placehold.it/1600x900"
        title="Breaking Bad"
        episode="S02E11"
      %}

      {% include card.html
        img="https://placehold.it/1600x900"
        title="Breaking Bad"
        episode="S02E11"
      %}

    </div>
  </div>
</div>
