<div class="profile-wrapper grid island">
  <div class="unit xs-1 m-1-2">
    <i class="icon i-48 push-r-1-2">
      <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#account-circle"></use></svg>
    </i>
    <div class="icon-label ib">
      <div class="stats">
        Hey Brosmind!
      </div>
    </div>
  </div>
  <div class="unit xs-1 m-1-2 stats-wrap">
    <div class="ib push-r-1-2">
      <i class="icon i-24 push-r-1-2">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#tv"></use></svg>
      </i>
      <div class="icon-label ib">
        <div class="stats micro">
          00 mins watching
        </div>
        <div class="stats micro">
          120 mins watched
        </div>
      </div>
    </div>
      <div class="ib">
        <i class="icon i-24 push-r-1-2">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#movie"></use></svg>
        </i>
        <div class="icon-label ib">
          <div class="stats micro">
            00 mins watching
          </div>
          <div class="stats micro">
            120 mins watched
          </div>
        </div>
      </div>
  </div>
</div>
