<div class="profile-wrapper grid grid-middle pad-t pad-b gutter m-gutter-2">
  <div class="unit xs-1 l-1-2 push l-push-0">
    <i class="icon i-48 i-circle push-r-1-2">
      <img class="i-circle" src="{{site.baseurl}}/images/profile-photo.jpg" alt=""/>
    </i>
    <span class="giga bold icon-label">Hey Brosmind!</span>
  </div>
  <div class="unit xs-1 l-1-2 l-text-right opacity-half micro">
    <div class="ib push-r push l-push-0">
      <i class="icon i-24 push-r-1-2">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#tv"></use></svg>
      </i>
      <div class="icon-label ib">
        <div>00 mins watching</div>
        <div>120 mins watched</div>
      </div>
    </div>
    <div class="ib">
      <i class="icon i-24 push-r-1-2">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#movie"></use></svg>
      </i>
      <div class="icon-label ib">
        <div>00 mins watching</div>
        <div>120 mins watched</div>
      </div>
    </div>
  </div>
</div>
