<div class="gutter m-gutter-2">
  <h2 class="push-0">Seasons</h2>
</div>
<div class="row-outer">
  <div class="row gutter-2">
    <div class="row-inner row-inner-small">

      {% include card.html
        img="/images/suits1.jpg"
      %}

      {% include card.html
        img="/images/suits2.jpg"
      %}

      {% include card.html
        img="/images/suits3.jpg"
      %}

      {% include card.html
        img="/images/suits4.jpg"
      %}

      {% include card.html
        img="/images/suits5.jpg"
      %}

      {% include card.html
        img="/images/suits6.jpg"
      %}

      {% include card.html
        img="/images/suits7.jpg"
      %}

    </div>
  </div>
</div>
