<div class="gutter m-gutter-2">
  <h2 class="push-0">My TV Shows</h2>
</div>
<div class="row-outer">
  <div class="row gutter-2">
    <div class="row-inner row-inner-small">

      {% include card.html
        img="/images/theblacklist.jpg"
        alt="The Blacklist"
      %}

      {% include card.html
        img="/images/strangerthings.jpg"
        alt="Stranger Things"
      %}

      {% include card.html
        img="/images/suits.jpg"
        href="/suits"
        alt="Suits"
      %}

      {% include card.html
        img="/images/criminalminds.jpg"
        alt="Criminal Minds"
      %}

      {% include card.html
        img="/images/greysanatomy.jpg"
        alt="Grey's Anatomy"
      %}

      {% include card.html
        img="/images/thebigbangtheory.jpg"
        alt="The Big Bang Theory"
      %}

      {% include card.html
        img="/images/familyguy.jpg"
        alt="Family Guy"
      %}

      {% include card.html
        img="/images/kevincanwait.jpg"
        alt="Kevin Can Wait"
      %}

      {% include card.html
        img="/images/power.jpg"
        alt="Power"
      %}

      {% include card.html
        img="/images/walkingdead.jpg"
        alt="The Walking Dead"
      %}

    </div>
  </div>
</div>
