<div class="gutter m-gutter-2">
  <h2 class="push-0">My TV Shows</h2>
</div>
<div class="row-outer">
  <div class="row gutter-2">
    <div class="row-inner row-inner-small">

      {% include card.html
        img="/images/theblacklist.jpg"
      %}

      {% include card.html
        img="/images/strangerthings.jpg"
      %}

      {% include card.html
        img="/images/suits.jpg"
      %}

      {% include card.html
        img="/images/criminalminds.jpg"
      %}

      {% include card.html
        img="/images/greysanatomy.jpg"
      %}

      {% include card.html
        img="/images/thebigbangtheory.jpg"
      %}

      {% include card.html
        img="/images/familyguy.jpg"
      %}

      {% include card.html
        img="/images/kevincanwait.jpg"
      %}

      {% include card.html
        img="/images/power.jpg"
      %}

      {% include card.html
        img="/images/walkingdead.jpg"
      %}

    </div>
  </div>
</div>
