<div class="gutter m-gutter-2 pad-t-2">
  <h2 class="push-0">Up Next</h2>
</div>
<div class="row-outer">
  <div class="row gutter-2">
    <div class="row-inner">

      {% include up-next-card.html
        img="/images/suits-content.jpg"
        title="Suits"
        episode="S3: Ep:15"
        alt="Suits"
      %}

      {% include up-next-card.html
        img="/images/blacklist-content.jpg"
        title="The Blacklist"
        episode="S4: Ep:3"
        alt="The Blacklist"
      %}

      {% include up-next-card.html
        img="/images/strangerthings-content.jpg"
        title="Stranger Things"
        episode="S1: Ep:7"
        alt="Stranger Things"
      %}

      {% include up-next-card.html
        img="/images/bigbang-content.jpg"
        title="The Big Bang Theory"
        episode="S7: Ep:11"
        alt="The Big Bang Theory"
      %}

      {% include up-next-card.html
        img="/images/greys-content.jpg"
        title="Grey's Anatomy"
        episode="S14: Ep:9"
        alt="Grey's Anatomy"
      %}

    </div>
  </div>
</div>
