<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.description}}">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="upNEXT">
  <meta property="og:locale" content="en_CA">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/gvi3mnc.css">
</head>
<body>

  <main role="main">
    {{content}}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/header.js"></script>
</body>
</html>
